.logo {
  width: 5%;
}

.nav-theme {
  background-color: #620874f8;
  font-size: 20px;
}

.animate-navbar {
  box-shadow: 1px 1px 1px rgb(241, 237, 241);
  animation: moveDown 0.5s ease-in-out;
}

@keyframes moveDown {
  from {
    transform: translateY(-5rem);
  }
  to {
    transform: translateY(0rem);
  }
}
