
.bg {
  background-image: linear-gradient(-225deg, #2cd8d5 0%, #6b8dd6 48%, #8e37d7 100%);
  padding: 30px 40px;
  border-radius: 10px;
  color: white;
}

.bg button {
  background-color:  white;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 7px;
}
.github {
  padding:20px;
}
.mail img{
 width: 20px;
}
.mail main {
  text-decoration: none;
  color: white;
  display: flex;
  gap: 10px;
  align-items:center;
  padding: 10px 0;
}
